<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" parallel="tests" thread-count="6">
    <listeners>
        <listener class-name="org.example.listener.ListenerTest" />
    </listeners>

    <test name="Test1" >
        <packages>
            <package name="org.example.threadSync" />
        </packages>
    </test>
</suite>
